* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #8e9473;
    font-size: 20px;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.form-container {
    background-color: #040d0c;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex-grow: 1;
}

.text {
    /* background-color: palevioletred; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 85%;
}

.cognizant-text {
    margin: 20px 0px 40px;
}

.sign-up {
    display: flex;
    /* background-color: yellow; */
    background-color: #111a17;
    flex-flow: column;
    padding: 20px;
}

.form-title {
    /* background-color: green; */
    font-size: 24px;
}

.form-body {
    display: flex;
    flex-flow: column;
    margin: 10px 0;
}

.input-set {
    display: flex;
    flex-flow: row wrap;
    gap: 20px 20px;
}

.input {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    width: 40%;
    padding: 2px;
}

input {
    background-color: #1c1c1f;
    border: 1px solid #354544;
    border-radius: 3px;
}

input:focus {
    outline: none;
    border: 2px solid #7d9b9d;
}

.submit-btn {
    margin: 20px 20px;
    width: 14vw;
    height: 6vh;
    border-radius: 4px;
    border: 2px solid #7d9b9d;
    color: #7d9b9d;
    background-color: #040d0c;
}

.submit-btn:hover {
    background-color: #7d9b9d;
    color: #040d0c;
}

.log-in {
    padding: 20px;
    /* background-color: peachpuff; */
}

